/* Layout del grid para las cards */
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
  padding: 20px 0;
}


.card {
  width: 100%; 
  max-width: 400px;
  background: white; 
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}


.card-img-container {
  height: 200px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.card-img-container img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}


.card-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.category {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: var(--secondary-color);
  font-weight: 700;
  margin: 0;
}

.product-title {
  font-size: 1.1rem;
  margin: 8px 0;
  height: 2.8rem; 
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.description {
  font-size: 0.85rem;
  color: #666;
  margin-bottom: 16px;
}

.card-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--text-color);
}

.view-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 0.9rem;
  margin: 0; 
}

.view-btn:hover {
  background-color: var(--secondary-color);
}